.flex-container {
    display: flex;
    flex-flow: row wrap;
}

.img-acolhido {
    align-items: center;
    border-radius: 50%;
    height: 15vh;
    min-height: 50px;
    padding: 10px;
    width: auto; 
}

.div-img-acolhido {
  align-items: center;
  background-color: #81b4db;
  border-radius: 12px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 1vh;
}

.inf {
    align-items: stretch;
    flex-grow: 1;
    font-family: 'Open Sans', sans-serif;
    margin: 2vh;
    text-align: left;
}

.bold {
    font-weight: bold;    
}

.atualiza {
    color: grey;
    font-size: 0.6em;
}

.box {
    background: #FFF;
    border-radius: 12px;
    height: 18vh;
    margin: auto;
    min-height: fit-content;
    padding: 1vh;
    width: 80%;
}

.effect1 {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.tiracor {
    color: black;
    text-decoration: none;
}
