* {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0.2rem;
}

.logout{
  color: #fff;
}

.logout:hover{
  color: #407caa;
}

.body {
  background-color: #b2d8f5;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.navbar, .footer {
  background-color: #81b4db;
  color: #fff;
  font-family: 'Amatic SC', cursive;
  height: 7vh;
  min-height: fit-content;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 6vh;
}

.footer {
  font-weight: bold;
  font-size: 3em;
  margin-top: 4vh;
  text-align: center;
}

.logo {
  width: 60%;
  padding-left: 2%;
}

.nome-user {
  color:white;
  font-size: 2.3em;
  font-weight: bold;
  margin: 0 13vw;
}

.botao-sair {
  font-family: 'Amatic SC', cursive;
  font-size: 1.8em;
  font-weight: bold;
  padding-right: 3vh;
}

.botao-sair a {
  color: white;
  text-decoration: none;
}

.botao-sair a:hover {
  background-color: white;
  color: #81b4db;
}

.main {
  margin: auto;
  width: 61.5vw;
  
}
.tablesfarmaceutica {
  border-collapse: collapse;
  font-family: 'Open Sans', sans-serif;
  margin-top: 5%;
  width: 55vw;
}

.tablesfarmaceutica td, .tablesfarmaceutica th {
  border: 1px solid;
  height: 5vh;
  text-align: center;
}

td.medicamento {
  text-align: left;
  
}
.input{
  padding-left: 1vw;
}

.add {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  background-color: #f0e68b;
  display: none;
  padding: 10px 0;
  overflow: hidden;
}


.acao-botao {
  transform: translate(79%, -50%);
}

.button {
  border-radius: 15%;
  background: #fff;
  border: 2px solid #407caa;
  color:#407caa;
  font-size: 15px;
  cursor: pointer;
  font-weight: bold;
}

.botao-historico {
  transform: translate(-20%, 19%);
}

.button:hover {
    color:white;
    background: #81b4db;
    border: 2px solid #fff;
}
