@import url(https://fonts.google.com/specimen/Open+Sans);
* {
  margin: 0;
}

.logout{
  color: #fff;
}

.logout:hover{
  color: #407caa;
}


.body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  background-color: #b2d8f5;
  padding-bottom: 3.5vh;
}

.navbar, .footer {
  background-color: #81b4db;
  font-family: 'Amatic SC', cursive;
  width: 100vw;
  height: 7vh;
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
<<<<<<< Updated upstream
  margin-bottom: 5vh;
=======
  margin-bottom: 6vh;
>>>>>>> Stashed changes
}

.footer {
  color: #fff;
  font-size: 3em;
  text-align: center;
  position:fixed;
<<<<<<< Updated upstream
  font-family: 'Amatic SC', cursive;
=======
>>>>>>> Stashed changes
  font-weight: bold;
  margin-top: 4vh;
}

.logo {
<<<<<<< Updated upstream
  width: 72%;
=======
  width: 22vh;
>>>>>>> Stashed changes
  padding-left: 2%;
}

.nome-user {
  color:white;
  font-size: 2.3em;
  font-weight: bold;
  margin-left: 28vh;
}

.botao-sair {
<<<<<<< Updated upstream
  font-family: 'Amatic SC', cursive;
=======
>>>>>>> Stashed changes
  font-size: 1.8em;
  font-weight: bold;
  padding-right: 3vh;
}

.botao-sair a {
  color: white;
  text-decoration: none;
}

.botao-sair a:hover {
  color: #81b4db;
  background-color: white;
}

.main {
  width: 61.5vw;
  margin: auto;
  
}
.tablesfarmaceutica {
  margin-top: 5%;
  border-collapse: collapse;
  width: 55vw;
  font-family: 'Open Sans', sans-serif;
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
}

.tablesfarmaceutica td, .tablesfarmaceutica th {
  border: 1px solid;
  height: 5vh;
  text-align: center;
}

td.medicamento {
  text-align: left;
  
}
.input{
  padding-left: 1vw;

}

.add {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.acao-botao {
  position: absolute;
  width: 35vh;
  margin-top: 45vh;
  margin-left: 103vh;
  text-align: center;
 
  
}

.botao-historico {
  margin-top: 2vh;
  width: 8.5vh;
  margin-left: -15vh;
}

.panel {
  padding: 10px 0;
  display: none;
  background-color: #f0e68b;
  overflow: hidden;
}