<%- contentFor('body') %>
    <form action="<%= updateUrl %>" method="POST">
      <label for="validade">Validade</label>
      <input type="date" name="validade" id="validade" value="<%= prescricao.validade %>">
      <input type="submit" value="Save">
    </form>
    <input type="button"  value="Voltar">
    <input type="button"  value="Adicionar Medicamento">
    <input type="button"  value="Adicionar Cuidados">
    <input type="button"  value="Adicionar Dieta">

  </div>