<%- contentFor('body') %>
    <div class="imgCenter">
        <img src="https://bhaz.com.br/wp-content/uploads/2016/11/catioro-reflexivo.jpg" alt="cachorro sorrindo" class="imgLogin">
    </div>

    <h1 class="login">LOGIN</h1>

    <div class="form">
        <p>Entre com o usuario</p>
        <input type="text">
        <p>Entre com a senha</p>
        <input type="password">
        <div>
            <button>Entrar</button>
        </div>
    </div>